- 참고 사이트 링크 걸 때 링크 표시+*기울임* 해주기 🔗
- 설명이 끝난 후 사진을 첨부할 때 🔽 표시하기
- 설명 시작 전 사진을 첨부할 때 🔼 표시하기
- 글 작성 완료 날짜 기준으로 날짜 설정하기
- 각 소제목이 끝난 후 <br>로 공간 확보
- 진행하다가 버그가 나타났을 시 📒 표시+*기울임* 후 디버깅 글 작성
- tags에 영어 대문자 넣지 않기